[Unit]
Description=The Measure the Future mothership server
After=postgresql.service

[Service]
WorkingDirectory=/home/root/mtf-build
ExecStart=/home/root/mtf-build/mothership

[Install]
WantedBy=multi-user.target